<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/admin.css" rel="stylesheet" />
</head>

<body>
    <header>
        <a href="/admin/index">Admin Panel</a>
    </header>

    <div class="row" dir="rtl">
        <div class="col-md-2">
            <nav>
                <ul>
                    <li>
                        <a class="nav-item">
                            Home
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <main class="col-md-9">
            @RenderBody()
        </main>
    </div>

    <footer>
    </footer>
</body>
@RenderSection("Scripts",false)
</html>
